<h1>This is from heroes</h1>
<!--
<ul>
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero ===selectedHero"><span>{{hero.id}}</span><span>{{hero.name}}</span></li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

-->
<a *ngFor="let hero of heroes; let i=index"
   routerLink="detail/{{hero.id}}">
  <div >
    <h4>{{i+1}}-{{hero.name}}</h4>
  </div>
</a>
<button (click)="delete()">Remove the first one</button>

<!-- put search component in route <app-hero-search></app-hero-search> -->
<router-outlet></router-outlet>

<router-outlet name="popup"></router-outlet>
